{% extends "base.html" %}
{% block conteudo %}

<div class="container mt-5">

<h1>Lanche escolhido: {{ nome }} 🍔</h1>

{% if item %}

<div class="card p-3">

<img src="{{ url_for('static', filename='imagens/' ~ item['imagem']) }}" class="img-fluid">

<h2>{{ item.nome }}</h2>

<p>{{ item.descricao }}</p>

<p>{{ item.preco }}</p>

<p>😋 {{ item.mensagem }}</p>

<a href="{{ url_for('pedidos_page') }}" class="btn btn-success">
Finalizar pedido 🚀
</a>

</div>

{% else %}

<p>😢 Ops... esse lanche não foi encontrado.</p>

{% endif %}

</div>

{% endblock %}